<!-- ko allowBindings: true -->
<form id="settings_plugin_custom_gcode_events" class="form-horizontal">
    <h2>{{ _('Custom GCode Events') }}</h2>
    <span>Enter a match for the sent or received GCode in the 'GCode' field, and an event topic string to be emitted when a match for the GCode occurs in the 'Topic' field. Note that this event string must be lower-case and without spaces (Or it will be made into one upon saving)!! This string will also be prepended with 'gcode_event_' as an event identifier.</span></br>
    <span>Optionally you can add additional context in the 'Event' field. This is usefull in case multiple GCode matches are sent to the same Event-Topic in order to distinguish what event has expired by the MQTT recepient.</span></br>
    <span>GCode matches can be selected to be either an exact match, or match when the sent / received GCode contains the text specified below. Note that checking for exact matches is significantly faster and should be considered to be used whenever possible to avoid slowdowns!!</span></br>
    <span>The ReFire Threshold field allows you to set a threshold in seconds for which repeated events are suppressed. When left empty the default refire threshold defined at the bottom is used.</span>
    <h3>{{ _('GCode Received Hooks') }}</h3>
    <div class="row-fluid">
        <div class="span1 text-center"><h4>{{ _('Enabled') }}</h4></div>
        <div class="span2 text-center"><h4>{{ _('G-Code') }}</h4></div>
        <div class="span2 text-center"><h4>{{ _('Topic') }}</h4></div>
        <div class="span3 text-center"><h4>{{ _('Event') }}</h4></div>
        <div class="span1 text-center"><h4>{{ _('Exact Match') }}</h4></div>
        <div class="span1 text-center"><h4>{{ _('ReFire Threshold') }}</h4></div>
    </div>
    <div data-bind="foreach: settings.settings.plugins.custom_gcode_events.received_gcode_hooks">
        <div class="row-fluid" style="margin-bottom: 5px">
            <div class="span1">
                <input style="padding: 4px; margin: 2px;" type="checkbox" class="span12 text-right" data-bind="checked: enabled">
            </div>
            <div class="span2">
                <input type="text" class="span12 text-right" data-bind="value: gcode, enable: enabled">
            </div>
            <div class="span2">
                <input type="text" class="span12 text-right" data-bind="value: topic, enable: enabled">
            </div>
            <div class="span3">
                <input type="text" class="span12 text-right" data-bind="value: event, enable: enabled">
            </div>
            <div class="span1">
                <input style="padding: 4px; margin: 2px;" type="checkbox" class="span12 text-right" data-bind="checked: exactMatch, enable: enabled">
            </div>
            <div class="span1">
                <input type="number" class="input-block-level" size="3" min="0" max="360" step="1" data-bind="value: reFireThreshold, enable: enabled">
            </div>
            <div class="span1">
                <button title="Remove Hook" class="btn btn-danger" data-bind="click: $parent.removeRcvdEvent"><i class="fa fa-trash-o"></i></button>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="offset10 span1">
            <button title="Add Rcvd Hook" class="btn btn-primary" data-bind="click: addRcvdEvent"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <h3>{{ _('GCode Sent Hooks') }}</h3>
    <div class="row-fluid">
        <div class="span1 text-center"><h4>{{ _('Enabled') }}</h4></div>
        <div class="span2 text-center"><h4>{{ _('G-Code') }}</h4></div>
        <div class="span2 text-center"><h4>{{ _('Topic') }}</h4></div>
        <div class="span3 text-center"><h4>{{ _('Event') }}</h4></div>
        <div class="span1 text-center"><h4>{{ _('Exact Match') }}</h4></div>
    </div>
    <div data-bind="foreach: settings.settings.plugins.custom_gcode_events.sent_gcode_hooks">
        <div class="row-fluid" style="margin-bottom: 5px">
            <div class="span1">
                <input style="padding: 4px; margin: 2px;" type="checkbox" class="span12 text-right" data-bind="checked: enabled">
            </div>
            <div class="span2">
                <input type="text" class="span12 text-right" data-bind="value: gcode, enable: enabled">
            </div>
            <div class="span2">
                <input type="text" class="span12 text-right" data-bind="value: topic, enable: enabled">
            </div>
            <div class="span3">
                <input type="text" class="span12 text-right" data-bind="value: event, enable: enabled">
            </div>
            <div class="span1">
                <input style="padding: 4px; margin: 2px;" type="checkbox" class="span12 text-right" data-bind="checked: exactMatch, enable: enabled">
            </div>
            <div class="span1">
                <button title="Remove Hook" class="btn btn-danger" data-bind="click: $parent.removeSntEvent"><i class="fa fa-trash-o"></i></button>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="offset9 span1">
            <button title="Add Sent Hook" class="btn btn-primary" data-bind="click: addSntEvent"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <h3>{{ _('Defaults') }}</h3>
    <div class="control-group">
        <label class="control-label">Default re-fire threshold.</label>
        <div class="controls">
            <i class="icon icon-info-sign" title="Time in seconds between events for which re-firing the event is suppressed." data-toggle="tooltip"></i>
            <div class="input-append">
                <input type="number" class="input-block-level" size="3" min="0" max="360" step="1" data-bind="value: settings.settings.plugins.custom_gcode_events.default_refire_threshold">
                <span class="add-on">s</span>
            </div>
        </div>
    </div>
</form>
<!-- /ko -->
